body {
	font-family: 'Roboto Condensed', 'Kosugi Maru';
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

.scoreboard-wrapper {
	position: absolute;
	top: 40px;
	left: 40px;
}

.scWrapper {
	position: absolute;
	height: 110px;
	width: 400px;
	overflow: hidden;
	align-items: center;
	border-radius: 13px;
}

.scBorder {
	width: 400px;
	height: 460px;
	margin-top: -155px;
	z-index: -10;
	background: linear-gradient(90deg, rgba(80,216,144,1) 0%, rgba(80,216,144,1) 33%, rgba(79,152,202,1) 33%, rgba(79,152,202,1) 66%, rgba(80,216,144,1) 66%);
	background-size: 300% 300%;
	animation: scBGRotate 10s linear infinite;
	transform: rotate(45deg);
}

@keyframes scBGRotate {
	0% {
		background-position: 0% 0%;
	}
	/*30% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 0%;
	}
	80% {
		background-position: 100% 0%;
	}*/
	100% {
		background-position: 100% 0%;
	}
}

.scBackground {
	background-color: white;
	filter: drop-shadow(55px 0 0 #E7E7E7);
	z-index: 9;
	width: 335px;
	height: 100px;
	position: absolute;
	left: 5px;
	top: 5px;
	border-radius: 10px;
}

.scoreboard {
	border-radius: 10px;
	width: 390px;
	height: 100px;
	z-index: 10;
	position: absolute;
	left: 5px;
	top: 5px;
}

.teamsGrid {
	height: 90px;
	width: 290px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	margin-left: 10px;
	margin-top: 2px;
	z-index: 25;
	left: 40px;
	position: absolute;
}

.teamsGrid * {
	z-index: 25;
}

.scoresGrid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
	position: absolute;
	right: 0;
	top: 1px;
	height: 80px;
	width: 55px;
}

.teamsGrid fitted-text {
	font-size: 2.6em;
	font-weight: 700;
	color: #222;
	width: 335px;
	height: 40px;
	margin-top: -4px;
}

.scoresGrid fitted-text {
	color: #444;
	font-size: 3em;
	font-weight: 700;
	margin-top: -5px;
	font-family: 'Montserrat';
	height: 55px;
}

.teamColorIndics {
	height: 90px;
	width: 35px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	position: absolute;
	top: 5px;
	left: 8px;
	opacity: 0.75;
	align-items: center;
}

.teamColorIndics * {
	z-index: 7;
	border-radius: 10px;
	width: 35px;
	height: 35px;
}

.flavorTextContainer {
	background-color: white;
	padding: 3px 25px;
	border: 5px solid rgba(79,152,202,1);
	border-radius: 13px;
	margin: 0 auto;
	width: 280px;
	position: absolute;
	top: 125px;
	left: 30px;
	display: flex;
	justify-content: center;
}

.flavorTextContainer fitted-text {
	font-size: 1.5em;
	font-weight: 700;
}

.flex-align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.casters-wrapper {
	position: absolute;
	left: 70px;
	top: 230px;
	width: 340px;
}

div.casters-wrapper > .background {
	height: 170px;
	width: 100%;

	border: 5px solid rgba(80,216,144,1);

	background-color: white;
	z-index: 2;
	border-radius: 13px;
	color: #222;

	overflow: hidden;
	position: relative;
}

div.casters-wrapper > .background > .casters-content {
	width: 335px;
	flex-direction: column;
	position: absolute;
}

div.casters-wrapper > .background > .casters-content > .casters {
	width: calc(100% - 20px);
	margin: 5px 10px 0;
}
div.casters-wrapper > .background > .casters-content > .casters fitted-text {
	font-size: 2em;
	font-weight: 600;
	position: absolute;
}

div.casters-wrapper > .background > .casters-content > .casters > * > * {
	position: absolute;
}

div.casters-wrapper > .background > .casters-content > .casters > * {
	height: 40px;
}

div.casters-wrapper > .background > .casters-content > .label {
	font-size: 25px;
	background-color: #E7E7E7;
	width: 100%;
	text-align: center;
	padding: 5px 8px;
	margin-top: 5px;
	color: #444;
	font-weight: 700;
}

span.pronoun {
	font-size: 20px;
	background-color: #222;
	padding: 0 5px;
	color: white;
}
